[submodule "deps/tf-pose-estimation"]
	path = deps/tf-pose-estimation
	url = https://github.com/blzq/tf-pose-estimation
[submodule "deps/tf_smpl"]
	path = deps/tf_smpl
	url = https://github.com/blzq/tf_smpl
[submodule "deps/tf_perspective_projection"]
	path = deps/tf_perspective_projection
	url = https://github.com/blzq/tf_perspective_projection
[submodule "deps/tf_mesh_renderer"]
	path = deps/tf_mesh_renderer
	url = https://github.com/blzq/tf_mesh_renderer
