[submodule "deps/smpl_numpy"]
	path = deps/smpl_numpy
	url = https://github.com/CalciferZh/SMPL
[submodule "deps/tf_rodrigues"]
	path = deps/tf_rodrigues
	url = https://github.com/blzq/tf_rodrigues
[submodule "deps/tf_pose"]
	path = deps/tf_pose
	url = https://github.com/blzq/tf-pose-estimation
